<div class="center hero-unit">
    <h1>Welcome to the my final project application</h1>

    <h2>
      Nothing to do here really.  Have a nice day :)
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>


<p>Sign in  <%= link_to "here", signin_path %></p>

</div>